.DS_Store
wp-config.php
.htaccess
.user.ini
error_*
php.ini
wp-config.php.bak
wp-config.php2

wp-content/*
!wp-content/plugins
!wp-content/themes

64395e061fd048001c8377aa.txt

wp-content/plugins/elementor/assets/
wp-content/plugins/dc-woocommerce-multi-vendor/
wp-content/plugins/elementor/core/editor/
wp-content/plugins/elementor/modules/
wp-content/plugins/ewww-image-optimizer/binaries/
wp-content/plugins/woocommerce-payments/vendor/automattic/
__MACOSX/
docker-compose.yml
Archive.zip
wp-content2/

dev-staging/
dev-staging2/
